<a href="https://colab.research.google.com/github/lafigueiredo/Hello-World/blob/master/DS_01_Aula.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###LISTAS  encurtador.com.br/dkwxy

# Nova seção

In [ ]:
#Listas

In [ ]:
#matrizes

In [ ]:
#CRIE UM DATA FRAME LIVRARIA 
#COM AS COLUNAS TITULO | AUTOR | PREÇO | ESTOQUE 
#CADASTRE 5 LIVROS

###JOGADORES

In [ ]:
#IMPORTAR O ARQUIVO CSV jogadores.csv import pandas as pd
import pandas as pd
jogadores = pd.read_csv('/content/jogadores.csv')
display(jogadores)

In [ ]:
#3 primeiros registros 
display(jogadores.head(5))

,Nome completo do jogador,Altura em cm,Peso em kg,Time que o jogador participou,Data de nascimento do jogador,Cidade onde o jogador nasceu.,Estado onde o jogador nasceu
0,Neymar da Silva Santos Júnior,1.75,68,Santos,1992,Mogi das Cruzes,São Paulo
1,Ronaldo de Assis Moreira,1.82,100,Grêmio,1980,Portp Alegre,Rio Grande do Sul
2,Ronaldo Luís Nazário de Lima,1.82,130,Cruzeiro,1976,Rio de Janeiro,Rio de Janeiro
3,Edson Arantes do Nascimento,1.73,80,Bauru,1940,Três Corações,Minas Gerais
4,Gabriel Barbosa Almeida,1.78,68,São Bernardo,1996,Goiânia,Goias

In [ ]:
#número de linhas e colunas 
print(jogadores.shape)

(9, 7)

In [ ]:
#descrição - describe
jogadores = pd.read_csv('/content/jogadores.csv')
jogadores_df = pd.DataFrame(jogadores)
display(jogadores_df.describe())

In [ ]:
#Qual é a média de altura dos jogadores
jogadores['Altura em cm'].mean()

NameError: ignored

In [ ]:
#Qual é a maior altura 
jogadores['Altura em cm'].max()

In [ ]:
#Qual é a menor altura 
jogadores['Altura em cm'].min()

In [ ]:
#Qual é o time que mais jogadores participaram
jogadores['Time que o jogador participou'].value_counts()

Cruzeiro        2
Santos          1
Grêmio          1
Bauru           1
São Bernardo    1
Pau Grande      1
Flamengo        1
Palmeiras       1
Name: Time que o jogador participou, dtype: int64

In [ ]:
#Lista dos o jogadores do mais leve para o mais pesado 
jogadores.sort_values('Peso em kg')

,Nome completo do jogador,Altura em cm,Peso em kg,Time que o jogador participou,Data de nascimento do jogador,Cidade onde o jogador nasceu.,Estado onde o jogador nasceu
5,Eduardo Pereira Rodrigues,1.66,63,Cruzeiro,1992,Goiânia,Goias
8,Ronielson da Silva Barbosa,1.67,65,Palmeiras,1995,Magalhães Barata,Pará
0,Neymar da Silva Santos Júnior,1.75,68,Santos,1992,Mogi das Cruzes,São Paulo
4,Gabriel Barbosa Almeida,1.78,68,São Bernardo,1996,Goiânia,Goias
3,Edson Arantes do Nascimento,1.73,80,Bauru,1940,Três Corações,Minas Gerais
6,Manoel Francisco dos Santos,1.69,85,Pau Grande,1933,Magé,Rio de Janeiro
7,Arthur Antunes Coimbra,1.72,90,Flamengo,1953,Rio de Janeiro,Rio de Janeiro
1,Ronaldo de Assis Moreira,1.82,100,Grêmio,1980,Portp Alegre,Rio Grande do Sul
2,Ronaldo Luís Nazário de Lima,1.82,130,Cruzeiro,1976,Rio de Janeiro,Rio de Janeiro

In [ ]:
#Qual é o jogador mais leve para o mais pesado
jogadores['IMC'] = jogadores['Peso em kg'] / jogadores['Altura em cm'] ** 2
display(jogadores)

,Nome completo do jogador,Altura em cm,Peso em kg,Time que o jogador participou,Data de nascimento do jogador,Cidade onde o jogador nasceu.,Estado onde o jogador nasceu,IMC
0,Neymar da Silva Santos Júnior,1.75,68,Santos,1992,Mogi das Cruzes,São Paulo,22.204082
1,Ronaldo de Assis Moreira,1.82,100,Grêmio,1980,Portp Alegre,Rio Grande do Sul,30.189591
2,Ronaldo Luís Nazário de Lima,1.82,130,Cruzeiro,1976,Rio de Janeiro,Rio de Janeiro,39.246468
3,Edson Arantes do Nascimento,1.73,80,Bauru,1940,Três Corações,Minas Gerais,26.729927
4,Gabriel Barbosa Almeida,1.78,68,São Bernardo,1996,Goiânia,Goias,21.461937
5,Eduardo Pereira Rodrigues,1.66,63,Cruzeiro,1992,Goiânia,Goias,22.862534
6,Manoel Francisco dos Santos,1.69,85,Pau Grande,1933,Magé,Rio de Janeiro,29.760863
7,Arthur Antunes Coimbra,1.72,90,Flamengo,1953,Rio de Janeiro,Rio de Janeiro,30.421850
8,Ronielson da Silva Barbosa,1.67,65,Palmeiras,1995,Magalhães Barata,Pará,23.306680

In [ ]:
jogadores.loc[:,['Nome completo do jogador', 'IMC']]

        Nome completo do jogador        IMC
0  Neymar da Silva Santos Júnior  22.204082
1       Ronaldo de Assis Moreira  30.189591
2   Ronaldo Luís Nazário de Lima  39.246468
3    Edson Arantes do Nascimento  26.729927
4        Gabriel Barbosa Almeida  21.461937
5      Eduardo Pereira Rodrigues  22.862534
6    Manoel Francisco dos Santos  29.760863
7         Arthur Antunes Coimbra  30.421850
8     Ronielson da Silva Barbosa  23.306680